.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  padding: var(--padding);
  font-size: 1rem;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.button--primary {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.button--secondary {
  background-color: var(--color-white);
  color: var(--color-black);
}